*{
    box-sizing: border-box;
}
body{
    background-color: #f7d9ff;
}
#links{
    padding: 5px;
}
#cards{
    margin: 10px;
    padding: 5px;
}
.time{
    text-decoration: none;
    color: black;
}
.time:hover{
    color: purple;
}
p{
    font-family: 'Bitter', serif;
}
h1{
    font-family: 'Shrikhand', cursive;
}
h4{
    font-family: 'Vidaloka', serif;
}