*{
    box-sizing: border-box;
}
body{
    background-color: #f7d9ff;
}
#links{
    padding: 5px;
}
#cards{
    margin: 10px;
    padding: 5px;
}
.time{
    text-decoration: none;
    color: black;
}
.time:hover{
    color: purple;
}