body{
    background-color: #fce6ee;
}
#links{
    padding: 5px;
}
#cards{
    margin: 10px;
    padding: 5px;
}
#time{
    box-sizing: border-box;
}
.column{
    float: left;
    padding: 10px;
}
.left {
    width: 25%;
  }
  .right {
    width: 75%;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }